<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h3>Create New Order</h3>
    <form th:action="@{/order/create}" method="post">
        <div class="form-group">
            <label for="authorInput">Author Name</label>
            <input type="text" name="author" class="form-control mb-4 col-4" id="authorInput" placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label>Select Products:</label>
            <div th:each="product : ${products}">
                <input type="checkbox" name="selectedProductIds" th:value="${product.productId}">
                <span th:text="${product.productName}"></span>
                (<span th:text="${product.productQuantity}"></span>)
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>
</body>
</html>